@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import 'material-theme-builder/shadcn.css';

@plugin 'material-theme-builder/tailwind';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.511 0.096 186.391);
    --primary-foreground: oklch(0.984 0.014 180.72);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.855 0.138 181.071);
    --chart-2: oklch(0.704 0.14 182.503);
    --chart-3: oklch(0.6 0.118 184.704);
    --chart-4: oklch(0.511 0.096 186.391);
    --chart-5: oklch(0.437 0.078 188.216);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.6 0.118 184.704);
    --sidebar-primary-foreground: oklch(0.984 0.014 180.72);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --md-sys-color-background: var(--md-ref-palette-neutral-98);
    --md-sys-color-error: var(--md-ref-palette-error-40);
    --md-sys-color-error-container: var(--md-ref-palette-error-90);
    --md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral-95);
    --md-sys-color-inverse-primary: var(--md-ref-palette-primary-80);
    --md-sys-color-inverse-surface: var(--md-ref-palette-neutral-20);
    --md-sys-color-on-background: var(--md-ref-palette-neutral-10);
    --md-sys-color-on-error: var(--md-ref-palette-error-100);
    --md-sys-color-on-error-container: var(--md-ref-palette-error-30);
    --md-sys-color-on-primary: var(--md-ref-palette-primary-100);
    --md-sys-color-on-primary-container: var(--md-ref-palette-primary-30);
    --md-sys-color-on-primary-fixed: var(--md-ref-palette-primary-10);
    --md-sys-color-on-primary-fixed-variant: var(--md-ref-palette-primary-30);
    --md-sys-color-on-secondary: var(--md-ref-palette-secondary-100);
    --md-sys-color-on-secondary-container: var(--md-ref-palette-secondary-30);
    --md-sys-color-on-secondary-fixed: var(--md-ref-palette-secondary-10);
    --md-sys-color-on-secondary-fixed-variant: var(--md-ref-palette-secondary-30);
    --md-sys-color-on-surface: var(--md-ref-palette-neutral-10);
    --md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant-30);
    --md-sys-color-on-tertiary: var(--md-ref-palette-tertiary-100);
    --md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary-30);
    --md-sys-color-on-tertiary-fixed: var(--md-ref-palette-tertiary-10);
    --md-sys-color-on-tertiary-fixed-variant: var(--md-ref-palette-tertiary-30);
    --md-sys-color-outline: var(--md-ref-palette-neutral-variant-50);
    --md-sys-color-outline-variant: var(--md-ref-palette-neutral-variant-80);
    --md-sys-color-primary: var(--md-ref-palette-primary-40);
    --md-sys-color-primary-container: var(--md-ref-palette-primary-90);
    --md-sys-color-primary-fixed: var(--md-ref-palette-primary-90);
    --md-sys-color-primary-fixed-dim: var(--md-ref-palette-primary-80);
    --md-sys-color-scrim: var(--md-ref-palette-neutral-0);
    --md-sys-color-secondary: var(--md-ref-palette-secondary-40);
    --md-sys-color-secondary-container: var(--md-ref-palette-secondary-90);
    --md-sys-color-secondary-fixed: var(--md-ref-palette-secondary-90);
    --md-sys-color-secondary-fixed-dim: var(--md-ref-palette-secondary-80);
    --md-sys-color-shadow: var(--md-ref-palette-neutral-0);
    --md-sys-color-surface: var(--md-ref-palette-neutral-98);
    --md-sys-color-surface-bright: var(--md-ref-palette-neutral-98);
    --md-sys-color-surface-container: var(--md-ref-palette-neutral-94);
    --md-sys-color-surface-container-high: var(--md-ref-palette-neutral-92);
    --md-sys-color-surface-container-highest: var(--md-ref-palette-neutral-90);
    --md-sys-color-surface-container-low: var(--md-ref-palette-neutral-96);
    --md-sys-color-surface-container-lowest: var(--md-ref-palette-neutral-100);
    --md-sys-color-surface-dim: var(--md-ref-palette-neutral-87);
    --md-sys-color-surface-tint: var(--md-ref-palette-primary-40);
    --md-sys-color-surface-variant: var(--md-ref-palette-neutral-variant-90);
    --md-sys-color-tertiary: var(--md-ref-palette-tertiary-40);
    --md-sys-color-tertiary-container: var(--md-ref-palette-tertiary-90);
    --md-sys-color-tertiary-fixed: var(--md-ref-palette-tertiary-90);
    --md-sys-color-tertiary-fixed-dim: var(--md-ref-palette-tertiary-80);
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-4: #00101c;
    --md-ref-palette-primary-5: #001320;
    --md-ref-palette-primary-6: #001523;
    --md-ref-palette-primary-10: #001e2f;
    --md-ref-palette-primary-12: #002235;
    --md-ref-palette-primary-15: #00293e;
    --md-ref-palette-primary-17: #002d45;
    --md-ref-palette-primary-20: #00344e;
    --md-ref-palette-primary-22: #003854;
    --md-ref-palette-primary-24: #003d5b;
    --md-ref-palette-primary-25: #003f5e;
    --md-ref-palette-primary-30: #004b6f;
    --md-ref-palette-primary-35: #15577c;
    --md-ref-palette-primary-40: #266389;
    --md-ref-palette-primary-50: #437da4;
    --md-ref-palette-primary-60: #5f96bf;
    --md-ref-palette-primary-70: #7ab1db;
    --md-ref-palette-primary-80: #95cdf7;
    --md-ref-palette-primary-87: #b8dfff;
    --md-ref-palette-primary-90: #c9e6ff;
    --md-ref-palette-primary-92: #d5ebff;
    --md-ref-palette-primary-94: #e0f0ff;
    --md-ref-palette-primary-95: #e6f2ff;
    --md-ref-palette-primary-96: #ebf5ff;
    --md-ref-palette-primary-98: #f6faff;
    --md-ref-palette-primary-99: #fcfcff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-4: #00101b;
    --md-ref-palette-secondary-5: #02121e;
    --md-ref-palette-secondary-6: #041521;
    --md-ref-palette-secondary-10: #0c1d29;
    --md-ref-palette-secondary-12: #10212d;
    --md-ref-palette-secondary-15: #172734;
    --md-ref-palette-secondary-17: #1b2c38;
    --md-ref-palette-secondary-20: #22323f;
    --md-ref-palette-secondary-22: #263743;
    --md-ref-palette-secondary-24: #2b3b48;
    --md-ref-palette-secondary-25: #2d3d4a;
    --md-ref-palette-secondary-30: #384956;
    --md-ref-palette-secondary-35: #445462;
    --md-ref-palette-secondary-40: #50606e;
    --md-ref-palette-secondary-50: #687988;
    --md-ref-palette-secondary-60: #8293a2;
    --md-ref-palette-secondary-70: #9cadbd;
    --md-ref-palette-secondary-80: #b7c9d9;
    --md-ref-palette-secondary-87: #cbdced;
    --md-ref-palette-secondary-90: #d3e5f5;
    --md-ref-palette-secondary-92: #d9eafb;
    --md-ref-palette-secondary-94: #e0f0ff;
    --md-ref-palette-secondary-95: #e6f2ff;
    --md-ref-palette-secondary-96: #ebf5ff;
    --md-ref-palette-secondary-98: #f6faff;
    --md-ref-palette-secondary-99: #fcfcff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-4: #120826;
    --md-ref-palette-tertiary-5: #150b29;
    --md-ref-palette-tertiary-6: #180d2c;
    --md-ref-palette-tertiary-10: #201634;
    --md-ref-palette-tertiary-12: #241a39;
    --md-ref-palette-tertiary-15: #2a203f;
    --md-ref-palette-tertiary-17: #2f2444;
    --md-ref-palette-tertiary-20: #352b4b;
    --md-ref-palette-tertiary-22: #3a2f4f;
    --md-ref-palette-tertiary-24: #3e3454;
    --md-ref-palette-tertiary-25: #413656;
    --md-ref-palette-tertiary-30: #4c4162;
    --md-ref-palette-tertiary-35: #584d6f;
    --md-ref-palette-tertiary-40: #64597b;
    --md-ref-palette-tertiary-50: #7e7195;
    --md-ref-palette-tertiary-60: #988bb0;
    --md-ref-palette-tertiary-70: #b3a5cc;
    --md-ref-palette-tertiary-80: #cfc0e8;
    --md-ref-palette-tertiary-87: #e3d3fc;
    --md-ref-palette-tertiary-90: #eaddff;
    --md-ref-palette-tertiary-92: #efe3ff;
    --md-ref-palette-tertiary-94: #f4eaff;
    --md-ref-palette-tertiary-95: #f6edff;
    --md-ref-palette-tertiary-96: #f9f1ff;
    --md-ref-palette-tertiary-98: #fef7ff;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-4: #0b0f12;
    --md-ref-palette-neutral-5: #0d1115;
    --md-ref-palette-neutral-6: #101417;
    --md-ref-palette-neutral-10: #181c20;
    --md-ref-palette-neutral-12: #1c2024;
    --md-ref-palette-neutral-15: #22262a;
    --md-ref-palette-neutral-17: #262a2e;
    --md-ref-palette-neutral-20: #2d3135;
    --md-ref-palette-neutral-22: #313539;
    --md-ref-palette-neutral-24: #363a3e;
    --md-ref-palette-neutral-25: #383c40;
    --md-ref-palette-neutral-30: #43474b;
    --md-ref-palette-neutral-35: #4f5357;
    --md-ref-palette-neutral-40: #5b5f63;
    --md-ref-palette-neutral-50: #74777c;
    --md-ref-palette-neutral-60: #8d9196;
    --md-ref-palette-neutral-70: #a8abb0;
    --md-ref-palette-neutral-80: #c3c7cc;
    --md-ref-palette-neutral-87: #d7dadf;
    --md-ref-palette-neutral-90: #e0e3e8;
    --md-ref-palette-neutral-92: #e5e8ed;
    --md-ref-palette-neutral-94: #ebeef3;
    --md-ref-palette-neutral-95: #eef1f6;
    --md-ref-palette-neutral-96: #f1f4f9;
    --md-ref-palette-neutral-98: #f7f9ff;
    --md-ref-palette-neutral-99: #fcfcff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-4: #090f14;
    --md-ref-palette-neutral-variant-5: #0b1217;
    --md-ref-palette-neutral-variant-6: #0e1419;
    --md-ref-palette-neutral-variant-10: #161c21;
    --md-ref-palette-neutral-variant-12: #1a2026;
    --md-ref-palette-neutral-variant-15: #20262c;
    --md-ref-palette-neutral-variant-17: #252b30;
    --md-ref-palette-neutral-variant-20: #2b3137;
    --md-ref-palette-neutral-variant-22: #2f353b;
    --md-ref-palette-neutral-variant-24: #343a40;
    --md-ref-palette-neutral-variant-25: #363c42;
    --md-ref-palette-neutral-variant-30: #41474d;
    --md-ref-palette-neutral-variant-35: #4d5359;
    --md-ref-palette-neutral-variant-40: #595f65;
    --md-ref-palette-neutral-variant-50: #72787e;
    --md-ref-palette-neutral-variant-60: #8b9198;
    --md-ref-palette-neutral-variant-70: #a6acb3;
    --md-ref-palette-neutral-variant-80: #c1c7ce;
    --md-ref-palette-neutral-variant-87: #d5dbe2;
    --md-ref-palette-neutral-variant-90: #dde3ea;
    --md-ref-palette-neutral-variant-92: #e3e9f0;
    --md-ref-palette-neutral-variant-94: #e9eef6;
    --md-ref-palette-neutral-variant-95: #ecf1f9;
    --md-ref-palette-neutral-variant-96: #eef4fb;
    --md-ref-palette-neutral-variant-98: #f6faff;
    --md-ref-palette-neutral-variant-99: #fcfcff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.437 0.078 188.216);
    --primary-foreground: oklch(0.984 0.014 180.72);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.855 0.138 181.071);
    --chart-2: oklch(0.704 0.14 182.503);
    --chart-3: oklch(0.6 0.118 184.704);
    --chart-4: oklch(0.511 0.096 186.391);
    --chart-5: oklch(0.437 0.078 188.216);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.704 0.14 182.503);
    --sidebar-primary-foreground: oklch(0.277 0.046 192.524);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --md-sys-color-background: var(--md-ref-palette-neutral-6);
    --md-sys-color-error: var(--md-ref-palette-error-80);
    --md-sys-color-error-container: var(--md-ref-palette-error-30);
    --md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral-20);
    --md-sys-color-inverse-primary: var(--md-ref-palette-primary-40);
    --md-sys-color-inverse-surface: var(--md-ref-palette-neutral-90);
    --md-sys-color-on-background: var(--md-ref-palette-neutral-90);
    --md-sys-color-on-error: var(--md-ref-palette-error-20);
    --md-sys-color-on-error-container: var(--md-ref-palette-error-90);
    --md-sys-color-on-primary: var(--md-ref-palette-primary-20);
    --md-sys-color-on-primary-container: var(--md-ref-palette-primary-90);
    --md-sys-color-on-secondary: var(--md-ref-palette-secondary-20);
    --md-sys-color-on-secondary-container: var(--md-ref-palette-secondary-90);
    --md-sys-color-on-surface: var(--md-ref-palette-neutral-90);
    --md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant-80);
    --md-sys-color-on-tertiary: var(--md-ref-palette-tertiary-20);
    --md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary-90);
    --md-sys-color-outline: var(--md-ref-palette-neutral-variant-60);
    --md-sys-color-outline-variant: var(--md-ref-palette-neutral-variant-30);
    --md-sys-color-primary: var(--md-ref-palette-primary-80);
    --md-sys-color-primary-container: var(--md-ref-palette-primary-30);
    --md-sys-color-secondary: var(--md-ref-palette-secondary-80);
    --md-sys-color-secondary-container: var(--md-ref-palette-secondary-30);
    --md-sys-color-surface: var(--md-ref-palette-neutral-6);
    --md-sys-color-surface-bright: var(--md-ref-palette-neutral-24);
    --md-sys-color-surface-container: var(--md-ref-palette-neutral-12);
    --md-sys-color-surface-container-high: var(--md-ref-palette-neutral-17);
    --md-sys-color-surface-container-highest: var(--md-ref-palette-neutral-22);
    --md-sys-color-surface-container-low: var(--md-ref-palette-neutral-10);
    --md-sys-color-surface-container-lowest: var(--md-ref-palette-neutral-4);
    --md-sys-color-surface-dim: var(--md-ref-palette-neutral-6);
    --md-sys-color-surface-tint: var(--md-ref-palette-primary-80);
    --md-sys-color-surface-variant: var(--md-ref-palette-neutral-variant-30);
    --md-sys-color-tertiary: var(--md-ref-palette-tertiary-80);
    --md-sys-color-tertiary-container: var(--md-ref-palette-tertiary-30);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}